.enroll-button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically if needed */
  margin: 20px 0;
}

.enroll-button {
  background: linear-gradient(45deg, #f72585, #7209b7);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  text-decoration: none; /* Ensure there's no underline on the link */
}

.enroll-button:hover {
  background: linear-gradient(45deg, #ff4d6d, #b5179e);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.enroll-button:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
